AUTH_API_MONGODB_URI = 'mongodb+srv://:>@sandbox-1lm4h.mongodb.net/<db-name>?retryWrites=true&w=majority'
JWT_EXPIRE = '1h'
JWT_SECRET = 'secretkey4u'
JWT_ADMIN_SECRET = 'secretkey4adminAPI_KEY'
PORT = 5000
SENDGRID_API_KEYS=''
##Google Authentication
HOST=     ##For localhost use this >>http://localhost:5000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
Put in your app mongodb uri, and send grid key in the specified fields. Don't edit any other fields
