AUTH_API_MONGODB_URI =''
JWT_EXPIRE = '1h'
JWT_SECRET = 'secretkey4u'
JWT_ADMIN_SECRET = 'secretkey4adminAPI_KEY'
PORT = 5000
SENDGRID_API_KEYS=

Put in your app mongodb uri in the specified field. Don't edit any other fields
