{
  "swagger": "2.0",
  "info": {
    "description": "This is an authentication micro-api allows for easy integration of authentication services into applications.",
    "version": "1.0.0",
    "title": "Auth-Micro API"
  },
  "host": "auth.microapi.dev",
  "basePath": "/api/auth",
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication of users"
    },
    {
      "name": "Users",
      "description": "All active users"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register user",
        "description": "register a new user",
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Register"
            }
          }
        ],
        "responses": {
          "405": {
            "description": "Invalid input"
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login user",
        "description": "login existing user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "400": {
            "description": "Invalid Order"
          }
        }
      }
    },
    "/logout": {
      "get": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout user",
        "description": "Logout current user",
        "responses": {
          "200": {
            "description": "successful operation"
          },
          "404": {
            "description": "Bad request"
          }
        }
      }
    },
    "/active": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "View active users",
        "description": "Returns list of active users",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "successful operation",
            "schema": {
              "$ref": "#/definitions/Active"
            }
          },
          "404": {
            "description": "users not found"
          }
        }
      }
    }
  },
  "definitions": {
    "Register": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer"
        },
        "name": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "role": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "createdAt": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "Login": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Active": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "username": {
          "type": "string"
        },
        "email": {
          "type": "string"
        },
        "isAdmin": {
          "type": "string",
          "format": "boolean"
        },
        "isAuth": {
          "type": "string",
          "format": "boolean"
        }
      }
    }
  }
}