{
  "swagger": "2.0",
  "info": {
    "description": "This is an authentication micro-api allows for easy integration of authentication services into applications.",
    "version": "1.0.0",
    "title": "Auth-Micro API"
  },
  "host": "auth.microapi.dev",
  "basePath": "/api",
  "tags": [
    {
      "name": "Auth",
      "description": "Authentication of users"
    },
    {
      "name": "Users",
      "description": "All active users"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register user",
        "description": "register a new user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/User"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Login user",
        "description": "login existing user",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout user",
        "description": "Logout current user",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/auth/active": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "View active users",
        "description": "Returns list of active users",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/admin/auth/register": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Register admin user",
        "description": "register a new admin user",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/admin/auth/getKey": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Get token",
        "description": "Authorization token registration and login",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Login"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/admin/auth/email/verification/:token": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Email verification",
        "description": "sends verification email",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    },
    "/admin/auth/email/resend/verification": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Resend Verification",
        "description": "resends verification email",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Response"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "Login": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Users Name"
        },
        "email": {
          "type": "string",
          "description": "User Email Address"
        },
        "password": {
          "type": "string",
          "description": "User Password"
        },
        "role": {
          "type": "string"
        },
        "phone_number": {
          "type": "string"
        },
        "resetPasswordToken": {
          "type": "string",
          "description": "User password reset token"
        },
        "resetPasswordExpire": {
          "type": "string",
          "description": "User password reset token expiration time"
        },
        "createdAt": {
          "type": "string",
          "description": "date and time user was created"
        }
      }
    },
    "Response": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string"
        },
        "message": {
          "type": "string"
        },
        "data": {
          "type": "object"
        }
      }
    }
  }
}